.card {
    border: none;
    border-radius: 1rem;
    transition: all 0.3s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}

.card-title {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    font-weight: bold;
}

.card-price {
    font-size: 3rem;
    margin-bottom: 0;
}

.card-price .period {
    font-size: 0.8rem;
}

ul {
    list-style: none;
    padding: 0;
}

.fa-check {
    color: #22b8cf;
}

.fa-times {
    color: #d9534f;
}

.btn-block {
    border-radius: 2rem;
}